<script setup lang="ts">
import PostListing from './PostListing.vue'
</script>

<template>
  <header>
    <div>
      <h1 class="company-name">Company Name</h1>
      <div class="nav-tabs">
        <a href="#" class="nav-tab">Hot</a>
        <a href="#" class="nav-tab">New</a>
        <a href="#" class="nav-tab">Rising</a>
        <a href="#" class="nav-tab">Controversial</a>
        <a href="#" class="nav-tab">Top</a>
        <a href="#" class="nav-tab">Gilded</a>
        <a href="#" class="nav-tab">Wiki</a>
      </div>
    </div>
    <div>
      <a href="#" class="login-signup">Login</a>
      <a href="#" class="login-signup">Sign Up</a>
    </div>
  </header>

  <div class="sidebar">
    <div class="sidebar-content">
      <h2 class="sidebar-heading">Sidebar Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit neque mauris, id luctus orci ultrices sed. Vestibulum vel est non felis pretium eleifend sed at mauris.</p>
    </div>
    <div class="sidebar-content">
      <h2 class="sidebar-heading">Another Heading</h2>
      <p>Phasellus quis consectetur purus, id efficitur nulla. Donec sit amet gravida metus. Quisque placerat augue ac ante suscipit, eu feugiat lectus ullamcorper.</p>
    </div>
  </div>

  <ul class="item-list">
    <PostListing>
      <template #post-vote-counter>42</template>
      <template #post-title>Item 1</template>
    </PostListing>
    <PostListing>
      <template #post-vote-counter>19</template>
      <template #post-title>Item 2</template>
    </PostListing>
    <PostListing>
      <template #post-vote-counter>7</template>
      <template #post-title>Item 3</template>
    </PostListing>
  </ul>

  <div class="pagination">
    <a href="#" class="page-link">1</a>
    <a href="#" class="page-link">2</a>
    <a href="#" class="page-link">3</a>
  </div>

  <footer>
    <div class="sitemap">
      <h2>Sitemap</h2>
      <!-- Add your sitemap content here -->
    </div>
    <p class="copyright">Copyright &copy; 2023 Company Name.
    All rights reserved.</p>
  </footer>
</template>

<style scoped>
</style>
