
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: lightblue;
  border-bottom: 1px solid darkblue;
}
.company-name {
  font-size: 24px;
  font-weight: bold;
}
.nav-tabs {
  display: flex;
  overflow: hidden;
  margin-top: auto;
  margin-left: auto;
}
.nav-tab {
  margin-right: 10px;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #f1f1f1;
  color: #333;
  border-left: 1px solid darkblue;
  border-top: 1px solid darkblue;
  border-right: 1px solid darkblue;
}
.nav-tab:last-child {
  margin-right: 0;
}
.login-signup {
  text-decoration: none;
  margin-left: 10px;
}
.item-list {
  list-style-type: none;
  padding: 0 20px;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.vote-counter {
  margin-right: 10px;
  font-weight: bold;
}
.thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.title {
  font-size: 18px;
}
.sidebar {
  width: 300px;
  background-color: #f1f1f1;
  padding: 20px;
  float: right;
}
.sidebar-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidebar-content {
  margin-bottom: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.page-link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #333;
  margin-right: 5px;
}
.page-link:hover {
  background-color: #ccc;
}
.page-link.active {
  background-color: #333;
  color: #fff;
}
footer {
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
.sitemap {
  border: 1px solid #ccc;
  padding: 10px;
}
.copyright {
  font-size: 14px;
}
