<script setup lang="ts">
</script>

<template>
  <li class="item">
    <span class="vote-counter">
      <slot name="post-vote-counter"></slot>
    </span>
    <img src="" alt="Thumbnail 1" class="thumbnail">
    <h2 class="title">
      <slot name="post-title"></slot>
    </h2>
  </li>
</template>
